CONFIG_ARM=y
CONFIG_SOC_FAMILY_NRF=y
CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_NRF52840_SMART_UP_0_1=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable RTT
CONFIG_HAS_SEGGER_RTT=y

# enable GPIO
CONFIG_GPIO=y

# enable console
#CONFIG_CONSOLE=y
#CONFIG_UART_CONSOLE=y

# additional board options
CONFIG_GPIO_AS_PINRESET=y

CONFIG_I2C=y
CONFIG_I2C_0=y
CONFIG_I2C_1=y
CONFIG_SENSOR=y
CONFIG_ICM20948=y
CONFIG_ICM20948_I2C_AD0=n
CONFIG_BME280=y

CONFIG_SPI=y
CONFIG_SPI_2=y
CONFIG_SPI_3=y
CONFIG_LED_STRIP=y
CONFIG_WS2812_STRIP=y
